.odd {
    background-color:#FF5CA5 ;
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#second {
    color: #5CC1FF;
    font-size: 36px;
}

.odd.cooler {
    font-size: 24px;
}

#fourth {
    background-color: #98FF5C;
    font-size: 24px;
    font-weight: bold;
}